.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #fbf5dd;
  height: 2720px;
  position: relative;
  overflow: hidden;
}
.group-footer {
  position: absolute;
  inset: 0;
}
.rectangle-footer {
  background: #16404d;
  border-radius: 90px;
  width: 1194px;
  height: 671px;
  position: absolute;
  left: 123px;
  top: 2384px;
}
.line-bawah {
  margin-top: -7px;
  border-style: solid;
  border-color: #a6cdc6;
  border-width: 7px 0 0 0;
  width: 1194px;
  height: 0px;
  position: absolute;
  left: 123px;
  top: 2645px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.jalan-wijaya-kusuma-no-46-mojopanggung-banyuwangi-phone-62-12345678-email-smkn-1-bwi-wkwkwk-gmail-com {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 209px;
  top: 2530px;
}
.smk-negeri-1-banyuwangi {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBoldItalic", sans-serif;
  font-size: 15px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 300px;
  top: 2461px;
}
.front-office {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 32px;
  font-weight: 900;
  position: absolute;
  left: 300px;
  top: 2423px;
  width: 243px;
  height: 37px;
}
.rectangle-82 {
  background: #a6cdc6;
  border-radius: 100px;
  width: 79px;
  height: 75px;
  position: absolute;
  left: 202px;
  top: 2423px;
}
.SMK-TULISAN_HITAM.png {
  width: 66px;
  height: 66px;
  position: relative;
  left: 209px;
  top: 2428px;
  object-fit: cover;
}
.beranda-struktur-fasilitas-faq {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 844px;
  top: 2470px;
}
.features {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 851px;
  top: 2428px;
}
.about-fo {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 663px;
  top: 2428px;
}
.fo-adalah-salah-satu-fasilitas-di-smkn-1-banyuwangi-yang-mencakup-berbagai-hal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 663px;
  top: 2470px;
  width: 125px;
  height: 120px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1017px;
  top: 2428px;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-27-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1010px;
  top: 2470px;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-27-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi-span {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-27-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
._2025-knowledge-collective {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 565px;
  top: 2676px;
}
.copyright-smkn-1-banyuwangi-all-rights-reserved {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 773px;
  top: 2676px;
}
.copyright-ourweb-fo-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 363px;
  top: 2676px;
}
.rectangle-3 {
  background: #a6cdc6;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 1319px;
  height: 1558px;
  position: absolute;
  left: 61px;
  top: 605px;
  filter: blur(2px);
}
.frame-faq {
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1202.49px;
  height: 909px;
  position: absolute;
  left: 132px;
  top: 721px;
  box-shadow: 0px 4px 16px 0px rgba(243, 243, 224, 0.25);
}
.frame-1 {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.apa-saja-pelayanan-fo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.group-1 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-2 {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-12 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-3 {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-13 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-4 {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-14 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-5 {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-15 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-6 {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-16 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-7 {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-17 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.orang_mikir-removebg-preview.png{
  width: 678px;
  height: 409px;
  position: absolute;
  left: 857px;
  top: 1754px;
  box-shadow: inset 0px 4px 16px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.jangan-ragu-dengan-situs-kamii {
  color: #16404d;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 433px;
  top: 1824px;
  width: 592.99px;
  height: 38.24px;
}
.punya-pertanyaan-lain {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 549px;
  top: 1765px;
  width: 360.95px;
  height: 41.42px;
}
.icon-phone.png {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 433px;
  top: 1912.9px;
  object-fit: cover;
}
._8372-033 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 469.78px;
  top: 1911.9px;
  width: 151px;
}
.icon-email.png{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 645px;
  top: 1910.34px;
  object-fit: cover;
}
.ho-a-ho-e-front-office-com {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 706.39px;
  top: 1910.84px;
}
.punya-pertanyaan-tentang-fo {
  color: #dda853;
  text-align: center;
  font-family: "Itim-Regular", sans-serif;
  font-size: 75px;
  font-weight: 400;
  position: absolute;
  left: 247px;
  top: 377px;
}
.faq_tulisan {
  color: #16404d;
  text-align: center;
  font-family: "Itim-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  left: 651px;
  top: 257px;
}
.rectangle-1_navbar {
  background: #16404d;
  width: 1458px;
  height: 119px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2_pencetan {
  background: #d9d9d9;
  border-radius: 30px;
  width: 618px;
  height: 84px;
  position: absolute;
  left: 792px;
  top: 21px;
}

.home_navbar {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 859.45px;
  top: 37.19px;
  width: 88.77px;
  height: 34.41px;
}
.struktur_navbar {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 983.42px;
  top: 37.19px;
  width: 121.23px;
  height: 48.58px;
}
.fasilitas_navbar {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1131.99px;
  top: 37.19px;
  width: 122.59px;
  height: 34.41px;
}
.faq_navbar {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1281.48px;
  top: 37.19px;
  width: 72.92px;
  height: 34.41px;
}
.group-2 {
    width: 494.95px;
    height: 48.58px;
    position: static;
  }
.front-office_navbar {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: relative;
  left: 120px;
  top: -30px;
}
.image-front-office {
  width: 96px;
  height: 96px;
  position: absolute;
  left: 13px;
  top: 15px;
  /* object-fit: cover; */
}
